*.vcxproj
*.vcxproj.filters
*.o
*.dll
*.so
*CMakeCache.txt
*Makefile
*.sln
*CMakeFiles
*.sdf
*.v12.suo
*~
*.ycm_extra_conf.py
*.ycm_extra_conf.pyc
client_rtype
client_rtype.exe
client/cmake_install.cmake
client/res/psd
server/cmake_install.cmake
cmake_install.cmake
.idea/
server_rtype
server_rtype.exe
*.sdf
*.suo
*.ilk
*.suo
*.v12.suo
*.pdb
*.obj
*.log
*.tlog
*.pdb
*.DS_Store*.opensdf
\#*