*.vcxproj
*.vcxproj.filters
*.o
*.dll
*.so
*CMakeCache.txt
*Makefile
*.sln
*CMakeFiles
*.sdf
*.v12.suo
*~
*.ycm_extra_conf.py
*.ycm_extra_conf.pyc
client_rtype
client/cmake_install.cmake
server/cmake_install.cmake
cmake_install.cmake
.idea/
server_rtype
*.pdb
*.obj
*.log
*.tlog
